h1 {
    text-align: center;
}

.price{
    border-bottom: 1px solid black;
}

.pricing-container {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    max-width: 500px;
    margin: auto;
}

.pricing-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 350px;
    padding: 10px;
    margin: 10px;
    justify-content: space-between;
    flex: 0 0 200px;
    border: 2px solid black;
    transition: transform 0.3s ease;
}

.pricing-card:hover {
    transform: scale(1.05);
}

button {
    background-color: yellow;
    color: black;
    padding: 5px;
    cursor: pointer;
}

.basic-plan {
    order: 0;
}

.pro-plan {
    order: 1;
    flex-grow: 2;
}

.premium-plan {
    order: 2;
}