body {
  background-color: rosybrown;
  font-family: 'Arial', sans-serif;
}

.business-card {
  width: 300px;
  padding: 20px;
  margin-top:100px;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid darkslategray;
  text-align:center;
  background-color: lavenderblush;
}

.profile-image {
  max-width:100%;
  width:150px;
  height:150px;
  margin-bottom:10px;
  border: 2px solid lightgrey;
}

.full-name{
  font-size:20px;
  color:darkslategray;
}

.designation{
  font-size:18px;
  color:gray;
}

.company{
  font-size:16px;
  color:darksgray;
}

p {
  margin: 5px 0;
}

a {
  text-decoration: none;
}

.business-card a {
  color: maroon;
  margin:10px;
}


hr {
  margin: 20px 0;
}