table {
    border-collapse: collapse;
    text-align: center;
    width: 100%; /* Mengubah lebar layar menjadi 100% */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

thead{
    background: linear-gradient(to bottom, #c8e5f3 0%, #6ec1ea 100%);;
}

/* span {
    display: inline-block;
} */

th,td {
    padding: 12px 8px;
    vertical-align: middle; /* Memastikan semua konten di dalam sel rata tengah secara vertikal*/
}

tr[class="read"] {
    background: linear-gradient(to right, #a7e8a4 0%, #7fe57b 50%, #a7e8a4 100%);;
}

tr[class="read"] span[class="status"] {
    display: inline-block; /* Ditambahkan agar padding dan bentuk pil bekerja sempurna */
    border: none;
    padding: 5px 25px;
    border-radius: 9999px;
    font-weight: 500;
    background-image: linear-gradient(
        to bottom,
        #79f46a 0%,
        #4be03c 50%,
        #2ed31e 100%
    );
}

tr[class="to-read"] {
    background: linear-gradient(to right, #d7ddd5 0%, #c9d0c8 50%, #d7ddd5 100%);;
}

tr[class="to-read"] span[class="status"] {
    display: inline-block;
    border: none;
    padding: 7px 15px;
    border-radius: 9999px;
    font-weight: 500;
    background-image: linear-gradient(
        to bottom,
        #ff8f81 0%,
        #ff4b38 50%,
        #ff2100 100%
    );
}

tr[class="in-progress"] {
    background: linear-gradient(to right, #f2ddb3 0%, #edd09a 50%, #f2ddb3 100%);
}

tr[class="in-progress"] span[class="status"] {
    display: inline-block;
    border: none;
    padding: 7px;
    border-radius: 9999px;
    font-weight: 500;
    background-image: linear-gradient(
        to bottom,
        #ffd875 0%,
        #f3be3f 50%,
        #e2a300 100%
    );
}

/* Bagaian Rating */
/* Menghapus selektor gabungan merusak padding pada tombol status */

span[class^="rate"] {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 5px; /* Jarak antar bulatan lingkaran */
}

span[class^="rate"] > span {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    border: 1px solid rgba(0,0,0,0.1);
}

span[class~="one"] span:nth-child(1) {
    background: linear-gradient(to bottom, #fff176, #fbc02d);
    border: none;
}

span[class~="two"] span:nth-child(1), span[class~="two"] span:nth-child(2) {
    background: linear-gradient(to bottom, #fff176, #fbc02d);
    border: none;
}

span[class~="three"] span {
    background: linear-gradient(to bottom, #fff176, #fbc02d);
    border: none;
}